{% extends "base_registration.html" %}

{% block body %}
<div style="display: flex; width: 100%; justify-content:center; flex-direction: column">
    <h3 style="margin-top: 20px; margin-bottom: 20px;">Reset Password</h3>
    <div>Please enter your email address below and we'll send you a password reset link.</div>
    <div class="login-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="slds-button button_brand">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}