{% extends "polls/base.html" %}

{% block breadcrumb %}
<span>Home</span>
{% endblock %}

{% block body %}
<h1>[PLACEHOLDER]</h1>
<div class="projects-action-bar">
    {% comment %} <a href="/projects/create">
        <button class="slds-button button_brand ">Create new project</button>
    </a> {% endcomment %}
</div>
<div class="projects-list">
{% comment %} {% for project in projects %}
    <div class="project-box">
        <span class="project-box-name">{{ project.name }}</span>
        <div class="project-box-body">
            <div class="project-box-description">{{ project.protocol_title }}</div>
            <a href="/projects/delete/{{ project.id}}"><button class="slds-button button">Delete</button></a>
            <a href="/projects/details/{{ project.id}}"><button class="slds-button button_brand ">Open project</button></a>
        </div>
        <span class="project-box-date">{{ project.date_created|date:'j F Y' }}</span>
    </div>
{% endfor %} {% endcomment %}
</div>
{% endblock %}