{% extends "base.html" %}

{% block breadcrumb %}
<a href="/projects"><button class="slds-button button">Home</button></a>
<span> / {{name}}</span>
{% endblock %}

{% block body %}
<script type="text/javascript">
    function isacApprovedChanged(cb){
        toggleIsacApprovedDependants(!cb.checked);
    }

    function toggleIsacApprovedDependants(isDisabled){
        document.getElementById("save").disabled = isDisabled;

        const excludes = [
            "id_isac_protocol",
            "id_protocol_title",
            "id_isac_approved",
            "id_name",
        ]

        const form = document.getElementById("form");

        const elements = [
            ...form.getElementsByTagName("input"),
            ...form.getElementsByTagName("select"),
            ...form.getElementsByTagName("textarea")
        ]

        for(const element of elements){
            if(!excludes.includes(element.id))
            {
                element.disabled = isDisabled
            }
        }
    }

    window.onload = () => {toggleIsacApprovedDependants(!{{form.isac_approved.value|lower}});};
</script>

<form action="/projects/update/{{id}}" method="post">
    <div class="project-create-form">
        {% csrf_token %}
        <h1>Project details</h1>
        <div class="form_grid" id="form">
        {% for field in form %}
            <div>{{field.label_tag}}</div>
            <div>{{field}}</div>
            <div class="text_error" style="grid-column-start: 2; margin-bottom: 20px">{{field.errors}}</div>
        {% endfor %}
        </div>
        <div>
            <button id="save" class="slds-button button_brand" type="submit" style="float:none">Save</button>
            <a href="/projects/details/{{id}}"><button class="slds-button button_cancel" type="button">Cancel</button></a>
        </div>
    </div>
</form>
{% endblock %}