{% extends "base.html" %}

{% block breadcrumb %}
<a href="/projects"><button class="slds-button button">Home</button></a>
<span> / </span>
<a href="/projects/details/{{project.id}}"><button class="slds-button button">{{project.name}}</button></a>
<span> / {{variable_set.name}}</span>
{% endblock %}

{% block body %}
<div class="project-create-form">
    <div style="display: flex; align-items: center">
        <h1>{{project.name}}</h1>
        <div style="flex: 1">
            <a href="/projects/update/{{project.id}}"><button class="slds-button button_neutral" style="float: right">Update project details</button></a>
        </div>
    </div>
    <ul class="slds-tabs_default__nav" role="tablist">
        <li class="slds-tabs_default__item" title="Dashboard" role="presentation"><a class="slds-tabs_default__link" href="/projects/details/{{project.id}}" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-1" id="tab-default-1__item">Dashboard</a></li>
        <li class="slds-tabs_default__item" title="Database builder" role="presentation"><a class="slds-tabs_default__link" href="/projects/details/{{project.id}}/database-builder" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Database builder</a></li>
        <li class="slds-tabs_default__item slds-is-active" title="Variable definition" role="presentation"><a class="slds-tabs_default__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Variable Definition</a></li>
        <li class="slds-tabs_default__item" title="Variable extraction" role="presentation"><a class="slds-tabs_default__link" href="/projects/details/{{project.id}}/variable-extractions" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-4" id="tab-default-4__item">Variable Extraction</a></li>
    </ul>
    <div class="variable-sets-list">
        <div class="variable-set-name-container">
            <span class="variable-set-name">{{variable_set.name}}</span>
            <span class="variable-set-index-date">(Index date: {{variable_set.index_date | date:'j F Y'}})</span>
        </div>
    </div>
</div>
{% endblock %}